/*
   3 Ocak 2023 Salı19:14:23
   User: 
   Server: NINJACLUB\CNYTMSSQLSERVER
   Database: SatisVT
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBLPERSONEL SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBLPERSONEL', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBLPERSONEL', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBLPERSONEL', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBLMUSTERI SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBLMUSTERI', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBLMUSTERI', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBLMUSTERI', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBLKATEGORI SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBLKATEGORI', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBLKATEGORI', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBLKATEGORI', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TBLURUNLER ADD CONSTRAINT
	FK_TBLURUNLER_TBLKATEGORI FOREIGN KEY
	(
	KATEGORI
	) REFERENCES dbo.TBLKATEGORI
	(
	KATEGORIID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBLURUNLER SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBLURUNLER', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBLURUNLER', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBLURUNLER', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TBLHAREKET
	(
	HAREKETID int NOT NULL IDENTITY (1, 1),
	URUN int NULL,
	MUSTERI int NULL,
	ADET int NULL,
	TUTAR decimal(18, 2) NULL,
	TARIH smalldatetime NULL,
	PERSONEL smallint NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TBLHAREKET SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_TBLHAREKET ON
GO
IF EXISTS(SELECT * FROM dbo.TBLHAREKET)
	 EXEC('INSERT INTO dbo.Tmp_TBLHAREKET (HAREKETID, URUN, MUSTERI, ADET, TUTAR, TARIH)
		SELECT HAREKETID, URUN, CONVERT(int, MUSTERI), ADET, TUTAR, TARIH FROM dbo.TBLHAREKET WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_TBLHAREKET OFF
GO
DROP TABLE dbo.TBLHAREKET
GO
EXECUTE sp_rename N'dbo.Tmp_TBLHAREKET', N'TBLHAREKET', 'OBJECT' 
GO
ALTER TABLE dbo.TBLHAREKET ADD CONSTRAINT
	PK__TBLHAREK__C2B06AA59A23427F PRIMARY KEY CLUSTERED 
	(
	HAREKETID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TBLHAREKET ADD CONSTRAINT
	FK_TBLHAREKET_TBLMUSTERI FOREIGN KEY
	(
	MUSTERI
	) REFERENCES dbo.TBLMUSTERI
	(
	MUSTERIID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBLHAREKET ADD CONSTRAINT
	FK_TBLHAREKET_TBLPERSONEL FOREIGN KEY
	(
	PERSONEL
	) REFERENCES dbo.TBLPERSONEL
	(
	PERSONAELID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TBLHAREKET ADD CONSTRAINT
	FK_TBLHAREKET_TBLURUNLER FOREIGN KEY
	(
	URUN
	) REFERENCES dbo.TBLURUNLER
	(
	URUNID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TBLHAREKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TBLHAREKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TBLHAREKET', 'Object', 'CONTROL') as Contr_Per 